{% extends 'parent.html' %} {% load static %} {% block body %}
<style>
  .container {
    width: 100%;
  }
  .container h1 {
    text-align: center;
    color: rgb(6, 6, 106);
    font-weight: bold;
    padding-top: 10vh;
    font-family: poppins, sans-serif;
  }
  .col-sm-5 {
    position: relative;
    padding-top: 30px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .col-sm-7 {
    padding-top: 30px;
    font-size: 17.5px;
    font-family: open sans, sans-serif;
    padding-bottom: 10px;
  }
  .col-sm-5 img {
    width: 100%;
    height: 70%;
  }
  @media (max-width: 600px) {
    .col-sm-7 {
      flex-direction: column;
      text-align: center;
      padding-top: 5px;
      padding-bottom: 0px;
      text-align: justify;
    }
    .col-sm-5 {
      padding-top: 5px;
      padding-bottom: 0px;
    }
  }
  @media (max-width: 530px) and (min-width: 360px) {
    .home h3 {
      text-align: center;
      font-size: 17px;
    }
    .home p {
      text-align: center;
      font-size: small;
    }
  }

  /*Header Image*/
  .home {
    background-image: url(../static/images/bookslibrary.jpg);
    width: 100%;
    height: 37vh;
    background-size: cover;
    background-position: center;
  }
  /*Header Image End*/
</style>
<!--Header Image-->
<div class="row">
  <section class="home">
    <div
      class="row"
      style="
        color: aliceblue;
        font-weight: bolder;
        font-family: poppins, sans-serif;
        padding-top: 22vh;
        text-align: center;
      "
    >
      <h3><b>From Our Content For Distance Learning</b></h3>
      <p style="font-family: poppins; font-weight: bolder">
        NOU-e-Gyan PORTAL, CONCEPT BY NALANDA OPEN UNIVERSITY
      </p>
    </div>
  </section>
</div>
<!-- Header Image -->
<section class="aboutus">
  <div class="container">
    <div class="row">
      <div class="about-title"><h1>ABOUT PORTAL</h1></div>
      <hr />
    </div>
    <div class="row">
      <div class="col-sm-5">
        <img
          src="{% static 'images/about.png' %}"
          class="img-fluid"
          height="50%"
        />
      </div>
      <div class="col-sm-7" style="text-align: justify">
        <p>
          The objective to design the portal is to facilitate “E-learning System
          to the students for the learning purpose from a remote location". The
          Portal is a Secure, Robust Web Application for E-Learning.
          <br /><br />
          NOU-E-Gyan Portal is a Learning Management System (LMS) for the
          colleges/ institutions / study centers for their unstoppable teaching
          to their students in the current crisis situation & in future as well
          since we all are now experiencing a paradigm shift. The portal is user
          friendly & easy to access.
          <br /><br />
          The portal is accessible from any hook and corner of the world if the
          system allows the permission of its users. It is fully secured and
          accessible 24 x 7 to its authorised users. It will resolve the
          academic issues such as E-content Distribution, Delivery, Tracking,
          Assessment, Progress Monitoring & Controlling of all stakeholders of
          the portal i.e. students, teachers, study centre administrators as
          well as Nalanda Open University Admins when they are at a distance.
        </p>
      </div>
    </div>
  </div>
</section>

{% endblock body %}
