{% extends 'parent.html' %}
{% load static %}
{% block body %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
<link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">

<style>
    /*Home*/
    .home{
        background-image: url(../static/images/bg4.jpg);
        width: 100%;
        height: 85vh;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
   /*Home end*/
    /*headline*/
   /*aboutsection*/
   .about-section .row h3 {
    color: rgb(6,6,106);
    font-family: poppins, sans-serif;
    font-weight: bold; 
    padding-left: 100px;
   }
   .about-section .row .col-sm-7{
    padding-left: 75px;
    padding-top: 25px;
   }
   .about-section .row .col-sm-5{
    padding-left: 80px;
    padding-top: 60px;
    padding-bottom: 25px;
    width: 30%;
   }


   @media(max-width:600px) {
    .about-section .row h3{
       text-align: center;
        padding-left: 0px;
        padding-top: 0px;
        align-content: center;
        justify-content: center;
        padding-bottom: 25px;
        padding-right: 0px;
    }
    .about-section .row .col-sm-7{
        padding-top: 0px;
        padding-left: 0px;
        text-align: center;
        align-content: center;
        font-size: 16px;
    }
    .about-section .row .col-sm-5{
        padding-left:0px;
        padding-top: 0px;
        align-items: center;
        padding-right: 0px;
        width: 100%;
       }
       .about-section .row .col-sm-5 img{
        width:100%;
   }
  }
   /*gallery*/
   .gallery .row h3 {
    color: rgb(6,6,106);
    font-family: poppins, sans-serif;
    font-weight: bold; 
    padding-left: 100px;
   }
   .gallery .row .col-sm-3{
    padding-left: 40px;
    margin-top: 10px;
  }
  .gallery .row .col-sm-3 .card{
    width: 16rem;
    margin-left: 20px;
  }
  .gallery .row .col-sm-3 .card-body{
    background-color: rgb(6,6,106);
    color: white;
    font-weight: bold;
    font-family: open sans, sans-serif;
    text-align: center;
  }

  @media(max-width:600px) {
    .gallery .row h3 {
      padding-left: 0px;
      text-align: center;
      align-items: center;
      padding-top: 0px;
      padding-bottom: 0px;
      padding-right: 0px;
    }
    .gallery .row .col-sm-3{
    padding-left: 0px;
    margin-top: 10px;
    padding-bottom: 0px;
    padding-right: 0px;
    align-content: center;
   }
  .gallery .row .col-sm-3 .card{
    width: auto;
    margin-left:0px;
    
  }
}
   /*administrative setup*/
   .team .row h3 {
    color: rgb(6,6,106);
    font-family: poppins, sans-serif;
    font-weight: bold; 
    padding-left: 100px;
   }
   .team .row .col-sm-3 .card{
    width: 15rem;
    height: 20rem;
    margin-top: 30px;
    margin-left:40px;
   }
   @media(max-width:600px){
    .team .row h3 {
    color: rgb(6,6,106);
    font-family: poppins, sans-serif;
    font-weight: bold; 
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
   }
   .team .row .col-sm-3 .card{
    width: auto;
    height: auto;
    margin-top: 30px;
    margin-left:0px;
   }

  }
   /*contact section*/
   .contact-section .row h3 {
    color: rgb(6,6,106);
    font-family: poppins, sans-serif;
    font-weight: bold; 
    padding-left: 100px;
   }    
   .contact-section .row .col-sm-5{
    position: relative;
    padding-top: 30px;
    padding-bottom: 10px;
    padding-left: 150px;
  }
  .contact-section .row .col-sm-5 img{
   width: 100%;
   height:85%;
   align-content:center;
  }
  .contact-section .row .col-sm-6{
   padding-top: 70px;
   padding-bottom: 10px;
   padding-right: 60px;
   padding-left: 50px;
   
   }
   .contact-section .row .col-sm-6 p{
    font-size: 17px;
    padding: 10px;
    color: white;
    font-family: open sans, sans-serif;
    
   }
   .contact-section .row .col-sm-6 h4{
    font-size: 18px;
    padding: 8px;
    border: 1px solid grey;
    font-family: open sans, sans-serif;
   }
   @media(max-width:600px){
    .contact-section .row h3 {
    color: rgb(6,6,106);
    font-family: poppins, sans-serif;
    font-weight: bold; 
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
    }
    .contact-section .row .col-sm-5{
    position: relative;
    padding-top: 30px;
    padding-bottom: 10px;
    padding-left: 0px;
  }
  .contact-section .row .col-sm-6{
   padding-top: 10px;
   padding-bottom: 10px;
   padding-right: 5px;
   padding-left: 5px;
   }
  }
</style>
<!--Home-->
<div class="row">
    <section class="home">
        <div class="row" style="color: aliceblue; padding-top: 45vh;padding-left: 10px;font-weight: bolder; font-family: poppins, sans-serif;">
        <h1><u>Get Started</u></h1>
        <h2><b>From Our Content For Distance Learning</b></h2>
        <p style="font-family: poppins;"><b>NOU-e-Gyan PORTAL, CONCEPT BY NALANDA OPEN UNIVERSITY</b></p>
        </div>
    </section>
</div>
<!--headline-->
<div class="row" style="background-color: rgb(6,6,106); margin-top: 5px; margin-bottom: 5px;">
    <marquee scrollamount="12" onmousemove="this.stop()" onmouseout="this.start()">
        <p style="color: white; padding-top: 6px; font-family: poppins, sans-serif; font-weight: bold;">The portal is easy to access & highly user
            friendly for the students & study centres.</p> 
    </marquee>

</div>

<!--aboutsection-->
<div class="row" style="padding-top: 10vh;">
<section class="about-section">
    <div class="row">
        <h3>ABOUT NOU e-GYAN PORTAL</h3>
    </div>
    <div class="row">
        <div class="col-sm-7" style="text-align: justify;">
            <p style="font-family: open sans, sans-serif; font-size: 17.5px;"><b>Nalanda Open University</b> welcomes all our students, faculties & study centres to the very new & innovative online study portal <b>NOU e-Gyan</b>. The portal is a unique initiative by Hon'ble Vice-Chancellor <b>Prof. (Dr.) K C Sinha</b>, which aims at providing online study material to the students of NOU.</p>
            <p style="font-family: open sans, sans-serif; font-size: 17.5px;">The portal is accessible from any hook and corner of the world if the system allows the permission to its users. It is also fully secured and accessible 24 x 7 to its authorised users. It will resolve the academic issues such as E-content Distribution, Delivery, Tracking, Assessment, Progress Monitoring & Controlling of all stakeholders of the system i.e. students, teachers, study centre administrators as well as Nalanda Open University Admins when they are at a distance.</p>
        </div>
        <div class="col-sm-5">
            <img src="{% static 'images/contactimg.jpeg' %}" class="img-fluid">
        </div>
    </div>
  </section>
</div>


 <!--gallery-->
 <div class="row" style="padding-top: 10vh;">
    <section class="gallery">
        <div class="row">
            <h3>STUDENT SERVICES</h3>
        </div>
   <!--gallery section one--> 

        <div class="row" style="padding-top: 25px;">
            <div class="col-sm-3">
                <div class="card" style="border-color: rgb(6,6,106);">
                    <img class="card-img-top"  src="{% static 'images/registration.jpg' %}" alt="Card image cap">
                    <div class="card-body">
                      <p class="card-text">
                        <a href="{% url 'nouapp:login' %}" style="color: white;">Login</a>
                      </p>
                    </div>
                  </div>

            </div>
            <div class="col-sm-3">
                <div class="card" style="border-color: rgb(6,6,106);">
                    <img class="card-img-top" src="{% static 'images/dashboard.jpg' %}" alt="Card image cap">
                    <div class="card-body">
                      <p class="card-text">
                        <a href="{% url 'studentapp:studenthome' %}" style="color: white;">Dashboard</a>
                      </p>
                    </div>
                  </div>

            </div>
            <div class="col-sm-3">
                <div class="card" style="border-color: rgb(6,6,106);">
                    <img class="card-img-top" src="{% static 'images/online-courses.jpg' %}" alt="Card image cap">
                    <div class="card-body">
                      <p class="card-text">
                        <a href="{% url 'studentapp:viewmat' %}" style="color: white;">Self Learning Material</a>
                      </p>
                    </div>
                  </div>

            </div>
            <div class="col-sm-3">
                <div class="card" style="border-color: rgb(6,6,106);">
                    <img class="card-img-top" src="{% static 'images/e-lectures.jpg' %}" alt="Card image cap">
                    <div class="card-body">
                      <p class="card-text">e-Books</p>
                    </div>
                  </div>

            </div>
        </div>
<!--gallery section two-->
<div class="row" style="padding-top: 40px;">
    <div class="col-sm-3">
        <div class="card" style="border-color: rgb(6,6,106);">
            <img class="card-img-top p-5" src="{% static 'images/self-assessment.svg' %}" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Self Assessment Tools</p>
            </div>
          </div>

    </div>
    <div class="col-sm-3">
        <div class="card" style="border-color: rgb(6,6,106);">
            <img class="card-img-top" src="{% static 'images/performance.jpg' %}" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">
                    <a href="{% url 'studentapp:viewprofile' %}" style="color: white;">Performance</a>
              </p>
            </div>
          </div>

    </div>
    <div class="col-sm-3">
        <div class="card" style="border-color: rgb(6,6,106);">
            <img class="card-img-top" src="{% static 'images/feedback.jpg' %}" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">
                    <a href="{% url 'studentapp:response' %}" style="color: white;">Feedback</a>
              </p>
            </div>
          </div>

    </div>
    <div class="col-sm-3">
        <div class="card" style="border-color: rgb(6,6,106);">
            <img class="card-img-top" src="{% static 'images/course-catlog.jpg' %}" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">
                    <a href="{% url 'nouapp:courses' %}" style="color: white;">Course-Catalogue</a>
              </p>
            </div>
          </div>

    </div>
</div>        
 </section>
 </div>
 <!--administrative setup-->
 <div class="row" style="padding-top: 10vh;">
  <div class="container p-5" style="background-color: rgb(44, 151, 193);">
    <section class="team">
      <div class="row"> 
        <h3>ADMINISTRATIVE SETUP</h3></div>
        <div class="row">
          <div class="col-sm-3">
            <div class="card">
              <img class="card-img-top p-4" src="{% static 'images/vc.jpg' %}" alt="Card image cap" width="auto" height="250px" style="border-radius: 50%;" >
              <div class="card-body" style="text-align: center;">
                <h6 class="card-text" style="color: rgb(6,6,106); font-weight: bold;">Prof. (Dr.) K. C. Sinha</h6>
                <p class="card-text">VICE CHANCELLOR</p>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="card">
              <img class="card-img-top p-4" src="{% static 'images/pvc.jpg' %}" alt="Card image cap" width="auto" height="250px" style="border-radius: 50%; ">
              <div class="card-body" style="text-align: center;">
                <h6 class="card-text" style="color: rgb(6,6,106); font-weight: bold;">Prof. (Dr.) Sanjoy Kumar</h6>
                <p class="card-text"> PRO VICE CHANCELLOR</p>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="card">
              <img class="card-img-top p-4" src="{% static 'images/registrar1.jpeg' %}" alt="Card image cap" width="auto" height="250px" style="border-radius: 50%;">
              <div class="card-body" style="text-align: center;">
                <h6 class="card-text" style="color: rgb(6,6,106); font-weight: bold;">Dr. Md. Habibur Rahman</h6>
                <p class="card-text">REGISTRAR</p>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="card">
              <img class="card-img-top p-4" src="{% static 'images/examreg.jpg' %}" alt="Card image cap" width="auto" height="250px" style="border-radius: 50%;">
              <div class="card-body" style="text-align: center;">
                <h6 class="card-text" style="color: rgb(6,6,106); font-weight: bold;">Dr. Neelam Kumari</h6>
                <p class="card-text">REGISTRAR (Exam)</p>
               </div>
            </div>
          </div>
        </div>
    </section>
  </div>
 </div> 
 <!--contact section-->
 <div class="row" style="padding-top: 10vh;">
  <section class="contact-section">
    <div class="row">
      <h3>ALWAYS HERE TO SUPPORT YOU!</h3>
    </div>
    <div class="row">
      <div class="col-sm-5">
        <img src="{% static 'images/helpline.svg' %}" class="img-fluid">
      </div>
      <div class="col-sm-6">
        <p style="background-color: rgb(6,6,106);">The help desk provides user assistance to navigate and understand the aspects of the portal. This also provides a simple interface for maintenance
          of student information and issues faced.</p><br>
        <a><h4> <i class="fa fa-phone" style="color: rgb(6,6,106);"></i> +91 7080102007</h4></a><br>
        <a><h4> <i class="fa fa-envelope" style="color: rgb(6,6,106);"></i> nouegyanhelp@gmail.com</h4></a><br>
        </div>
    </div>
  </section>
 </div>
{% endblock %}

