<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NOU e-Gyan PORTAL</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}"/>
    <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.0.0/mdb.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.0.0/mdb.min.js"></script>
</head>
<style>
   
   .me-4{
      text-decoration: none;
        margin-right: 1rem;
        transition: transform 0.3s ease, color 0.3s ease;
   }
   .me-4 i{
    color: rgb(6, 6, 106); 
        font-size: 20px;
        transition: color 0.3s ease, transform 0.3s ease;
   }
   .me-4:hover i{
    color: #064B89; /* change to your hover color */
        transform: scale(1.5);
   }

</style>
<body>
    <div class="container-fluid">
       
        <!--Navbar Start-->
        <div class="row sticky-top naviagation">
          <div class="col-sm-6" style="background-color: rgb(6, 6, 106); color: white; text-align: center; padding: 8px; font-family: poppins,sans-serif;"><a href="#"><i class="fa-solid fa-phone"></i></a><b> +91 7080102007</b></div>
            <div class="col-sm-6" style="background-color: rgb(6, 6, 106); color: white; text-align: center; padding: 8px; font-family: poppins,sans-serif;" ><a href="#"><i class="fa-solid fa-envelope"></i></a><b> nouegyanhelp@gmail.com</b></div>
            <nav class="navbar navbar-expand-lg" style="background-color: aliceblue;">
                <div class="container-fluid">
                  <a class="navbar-brand" href="{% url 'nouapp:index' %}">
                    <img src="{% static 'images/NOU.jpg' %}" width="48%" height="12%">
                  </a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0" style="padding-right: 25px; gap: 6px;">
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'nouapp:index' %}" style="color: rgb(6, 6, 106); font-family: poppins,sans-serif; font-size: 18px;"><i class="fa-solid fa-house"></i> Home</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'nouapp:aboutus' %}" style="color: rgb(6, 6, 106); font-family: poppins,sans-serif;font-size: 18px;"><i class="fa-solid fa-user"></i> About Us</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'nouapp:courses' %}" style="color: rgb(6, 6, 106);font-family: poppins,sans-serif;font-size: 18px;"><i class="fa-solid fa-book"></i> Courses</a>
                        <li class="nav-item">
                          <a class="nav-link" href="{% url 'nouapp:services' %}" style="color: rgb(6, 6, 106); font-family: poppins,sans-serif;font-size: 18px;"><i class="fa-solid fa-list"></i> Services</a>
                        </li>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'nouapp:login' %}" style="color: rgb(6, 6, 106);font-family: poppins,sans-serif;font-size: 18px;"><i class="fa-solid fa-key"></i> Login</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'nouapp:registration' %}" style="color: rgb(6, 6, 106); font-family: poppins,sans-serif;font-size: 18px;"><i class="fa-solid fa-book"></i> Registration</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'nouapp:contactus' %}" style="color: rgb(6, 6, 106); font-family: poppins,sans-serif;font-size: 18px;"><i class="fa-solid fa-phone"></i> Contact Us</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </nav>
            </div>
        <!--banner-->
        {% block body %}

        {% endblock body %}
          
        </body>


        <!--footer-->
        <div class="row">
      
          <!-- Footer -->
           <footer class="text-center text-lg-start text-muted" style="background-color: aliceblue;">
         <!-- Section: Social media -->
           <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
         <!-- Left -->
           <div class="me-5 d-none d-lg-block" style="color: rgb(6, 6, 106); font-family: poppins,sans-serif;">
           <span>Get connected with us on social networks:</span>
           </div>
         <!-- Left -->

         <!-- Right -->
           <div>
             <a href="#" class="me-4 text-reset" style="text-decoration: none;">
             <i class="fab fa-facebook" style="color: rgb(6, 6, 106);"></i>
             </a>
             <a href="#" class="me-4 text-reset" style="text-decoration: none;">
             <i class="fab fa-twitter" style="color: rgb(6, 6, 106);"></i>
             </a>
             <a href="#" class="me-4 text-reset" style="text-decoration: none;">
             <i class="fab fa-google" style="color: rgb(6, 6, 106);"></i>
             </a>
             <a href="#" class="me-4 text-reset" style="text-decoration: none;">
             <i class="fab fa-instagram" style="color: rgb(6, 6, 106);"></i>
             </a>
             <a href="#" class="me-4 text-reset" style="text-decoration: none;">
             <i class="fab fa-linkedin" style="color: rgb(6, 6, 106);"></i>
             </a>

             </div>
          <!-- Right -->
            </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto">
          <!-- Content -->
          
            <a><img src="{% static 'images/NOU.jpg' %}" width="75%" height="23%" style="font-family: poppins,sans-serif;"></a>
          
          <p style="color: rgb(6, 6, 106);font-family: poppins,sans-serif;">
            Nalanda Open University is a State Open University duly established under the Act of Bihar Government and is also recognized by Distance Education Council, IGNOU, Maidan Garhi, New Delhi
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->

        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4;" style="font-family: poppins,sans-serif;">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4" style="color: rgb(6, 6, 106);"><u>
            Useful links</u>
          </h6>
          <p style="color: rgb(6, 6, 106);">
            <a href="{% url 'nouapp:index' %}" class="text-reset" style="text-decoration: none;">Home</a>
          </p>
          <p style="color: rgb(6, 6, 106);">
            <a href="{% url 'nouapp:courses' %}" class="text-reset" style="text-decoration: none;">Courses</a>
          </p>
          <p style="color: rgb(6, 6, 106);">
            <a href="{% url 'nouapp:aboutus' %}" class="text-reset" style="text-decoration: none;">About Us</a>
          </p>
          <p style="color: rgb(6, 6, 106);">
            <a href="{% url 'nouapp:login' %}" class="text-reset" style="text-decoration: none;">Login</a>
          </p>
          <p style="color: rgb(6, 6, 106);">
            <a href="{% url 'nouapp:registration' %}" class="text-reset" style="text-decoration: none;">Registration</a>
          </p>
          <p style="color: rgb(6, 6, 106);">
            <a href="{% url 'nouapp:contactus' %}" class="text-reset" style="text-decoration: none;">Contact Us</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4" style="font-family: poppins,sans-serif;">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4" style="color: rgb(6, 6, 106);"><u>Contact</u></h6>
          <p style="color: rgb(6, 6, 106);"><i class="fas fa-home me-3" style="color: rgb(6, 6, 106);"></i> NOU
            2nd/3rd Floor, Biscomaun Bhawan, Gandhi Maidan, Patna 800 001 (BIHAR)</p>
          <p style="color: rgb(6, 6, 106);">
            <i class="fas fa-envelope me-3" style="color: rgb(6, 6, 106);"></i>
            nouegyanhelp@gmail.com
          </p>
          <p style="color: rgb(6, 6, 106);"><i class="fas fa-phone me-3" style="color: rgb(6, 6, 106);"></i>+91 7080102007<br>
            Give us a call</p>
          
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgb(6, 6, 106); color: white; font-family: poppins,sans-serif;">
    © Copyright 2024 Designed & Developed By |
    <a class="text-reset fw-bold" href="http://www.softproindia.in/" style="text-decoration: none;">Softpro India Computer Technologies (P) Ltd.</a>
  </div>
  <!-- Copyright -->
          </footer>
      <!-- Footer -->
        
        </div>
    </div>

</body>
</html>
