{% extends "studentparent.html" %}
{% block body %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
   <strong>{{message}}</strong>
   <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
 </div>
{% endfor %}
{% endif %}
    <div class="row">
        <div class="col-sm-12">
            <h1 style="text-align:center; color:rgb(6,6,106)">Change Password</h1>  
            <form action="{% url 'studentapp:changepassword' %}" method="post" class="form-group"> 
                {% csrf_token %}
              <table class="table " style="width: 70%; margin:auto; color: white; background-color: rgb(6,6,106); border: 2px aliceblue;">
                <tr>
                    <td>Old Password</td>
                    <td><input type="password" name="oldpassword" class="form-control" style="background-color: aliceblue; color: rgb(6,6,106);"></td>
                </tr>

                <tr>
                    <td>New Password</td>
                    <td><input type="password" name="newpassword" class="form-control" style="background-color: aliceblue; color: rgb(6,6,106);"></td>
                </tr>

                <tr>
                    <td>Confirm Password</td>
                    <td><input type="password" name="confirmpassword" class="form-control" style="background-color: aliceblue; color: rgb(6,6,106);"></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td><button type="submit" class="btn btn-success">Change Password</button></td>
                </tr>
              </table>
            </form>  
        </div>
    </div>
{% endblock body %}
