{% extends "studentparent.html" %} {% block body %}

<div class="row">
  <div class="col-sm-12">
    {% if messages %} {% for message in messages %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <strong>{{message}}</strong>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
    {% endfor %} {% endif %}
    <h1
      class="text-center fs-2 fs-md-1"
      style="color: #060564; margin-top: 10px"
    >
      Submit Your Feedback/Complaint
    </h1>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8 col-sm-10">
          <form action="{% url 'studentapp:response' %}" method="post">
            {% csrf_token %}
            <div class="container-lg my-4">
              <div
                class="card shadow-lg"
                style="background-color: #4d4f56; color: white"
              >
                <div class="card-body">
                  <!-- Select Response Type -->
                  <div class="mb-3">
                    <label class="form-label">Select Response Type</label>
                    <select
                      name="responsetype"
                      class="form-select text-dark bg-light"
                    >
                      <option selected>Select Response Type</option>
                      <option value="complain">Complain</option>
                      <option value="feedback">Feedback</option>
                    </select>
                  </div>

                  <!-- Subject -->
                  <div class="mb-3">
                    <label class="form-label">Enter Subject</label>
                    <input
                      type="text"
                      name="subject"
                      class="form-control text-dark bg-light"
                    />
                  </div>

                  <!-- Response Text -->
                  <div class="mb-3">
                    <label class="form-label">Enter Response Text</label>
                    <textarea
                      name="responsetext"
                      class="form-control text-dark bg-light"
                      rows="4"
                    ></textarea>
                  </div>

                  <!-- Submit Button -->
                  <div class="text-end">
                    <button
                      type="submit"
                      class="btn btn-success px-4"
                      style="background-color: rgb(14, 211, 14)"
                    >
                      Submit
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock body %}
