{% extends "studentparent.html" %} {% block body %}
<div class="row">
  <div class="col-sm-12">
    <h1 style="text-align: center; color: rgb(6, 6, 106)">View Answer</h1>
    <div class="table-responsive">
      <table
        class="table table-bordered text-primary align-middle"
        style="margin: auto"
      >
        <thead>
          <tr style="color: rgb(0, 0, 137)">
            <th scope="col" style="color: darkblue">A#</th>
            <th scope="col" style="color: darkblue">Answer</th>
            <th scope="col" style="color: darkblue">Answered By</th>
            <th scope="col" style="color: darkblue">Posted Date</th>
          </tr>
        </thead>
        <tbody>
          {% for a in ans %}
          <tr style="color: rgb(4, 13, 141)">
            <td>{{a.aid}}</td>
            <td>{{a.answer}}</td>
            <td>{{a.answered}}</td>
            <td>{{a.posteddate}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock body %}
