{% extends "studentparent.html" %} {% block body %}
<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-lg-8 col-md-10">
      <div class="bg-light card shadow-lg border-0 rounded-4">
        <div
          class="card-header text-center text-white"
          style="background-color: #36373e"
        >
          <h2 class="mb-0">🎓 Student Profile</h2>
        </div>
        <div class="card-body">
          <table class="table table-striped table-hover align-middle">
            <tbody>
              <tr>
                <th scope="row" class="text-primary">Roll No</th>
                <td style="color: rgb(17, 17, 17)">{{stu.rollno}}</td>
              </tr>
              <tr>
                <th scope="row" class="text-primary">Student Name</th>
                <td>{{stu.name}}</td>
              </tr>
              <tr>
                <th scope="row" class="text-primary">Father Name</th>
                <td>{{stu.fname}}</td>
              </tr>
              <tr>
                <th scope="row" class="text-primary">Mother Name</th>
                <td>{{stu.mname}}</td>
              </tr>
              <tr>
                <th scope="row" class="text-primary">Gender</th>
                <td>{{stu.gender}}</td>
              </tr>
              <tr>
                <th scope="row" class="text-primary">Address</th>
                <td>{{stu.address}}</td>
              </tr>
              <tr>
                <th scope="row" class="text-primary">Program</th>
                <td>{{stu.program}}</td>
              </tr>
              <tr>
                <th scope="row" class="text-primary">Branch</th>
                <td>{{stu.branch}}</td>
              </tr>
              <tr>
                <th scope="row" class="text-primary">Year</th>
                <td>{{stu.year}}</td>
              </tr>
              <tr>
                <th scope="row" class="text-primary">Contact No</th>
                <td>{{stu.contactno}}</td>
              </tr>
              <tr>
                <th scope="row" class="text-primary">Email Address</th>
                <td>{{stu.emailaddress}}</td>
              </tr>
              <tr>
                <th scope="row" class="text-primary">Registration Date</th>
                <td>{{stu.regdate}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer text-center text-muted">
          Last Updated: {{stu.regdate}}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock body %}
