{% extends "adminparent.html" %}
{% block body %}
<div class="row">
    <h1 style="text-align:center; color: rgb(6,6,106)">Upload Study Material</h1>
    <form action="{% url 'adminapp:move' %}" method="post" class="form-group" enctype="multipart/form-data">
        {% csrf_token %}
        <table class="table table-bordered text-light" style="background-color:rgb(6,6,106); border: 2px aliceblue;">
            
            <!-- Select Course -->
            <tr>
                <td><label for="course-select">Select Course: </label></td>
                <td>
                    <select name="course" id="course-select" class="form-control" style="background-color: aliceblue; color: rgb(6,6,106);">
                        <option selected>--Select Course--</option>
                        {% for c in courses %}
                            <option value="{{ c.id }}">{{ c.title }} - {{ c.program.program }} {{ c.branch.branch }} {{ c.year.year }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>

            <!-- Title -->
            <tr>
                <td><label for="title-input">Material Title :</label></td>
                <td><input type="text" name="title" id="title-input" class="form-control" style="background-color: aliceblue; color: rgb(6,6,106);" required></td>
            </tr>

            <!-- Description -->
            <tr>
                <td><label for="description-input">Description :</label></td>
                <td><textarea name="description" id="description-input" class="form-control" style="background-color: aliceblue; color: rgb(6,6,106);"></textarea></td>
            </tr>

            <!-- Category (Optional) -->
            <tr>
                <td><label for="category-select">Category :</label></td>
                <td>
                    <select name="category" id="category-select" class="form-control" style="background-color: aliceblue; color: rgb(6,6,106);">
                        <option selected>--Select Category--</option>
                        {% for cat in categories %}
                            <option value="{{ cat.id }}">{{ cat.name }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>

            <!-- File Upload -->
            <tr>
                <td><label for="file-upload">Select File :</label></td>
                <td><input type="file" name="my_file" id="file-upload" class="form-control" style="background-color: aliceblue; color: rgb(6,6,106);" required></td>
            </tr>

            <!-- Submit Button -->
            <tr>
                <td></td>
                <td><button type="submit" class="btn btn-success">Upload</button></td>
            </tr>
        </table>
    </form>
</div>
{% endblock body %}
